{# create a select element that transmit the option text that equals the displayed text #}
{# texts must be set into the input.values keys chain #}

{%  extends 'service/form/tool/_select.html.twig' %}

{% block optionManagement %}
    <option
        value="{{ value}}"
        {%  if input.value == value %} selected {% endif %}
    >
        {{ value}}
    </option>
{% endblock %}