{% extends 'base.html.twig' %}

{% block main %}

    <div class="result container">
        <div class="row row-cols-1 row-cols-md-2 align-items-center justify-content-around">
            <div class="col">
                {% include 'home/_nicknameForm.html.twig' %}
            </div>

            <div class="col justify-content-center">
                {% include 'home/_nicknameResult.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
