{% extends 'base.html.twig' %}

{% block main %}

    <table class="container alphabet-table">

        <tbody>
            {%  for letter, letterValues in stats %}
                <tr class="alphabet-row">
                    {%  if letter ==" "%} {% set letter="_" %} {% endif %}
                    <td class="alphabet-column">{{ letter }}</td>

                    {% for letter, letterValue in letterValues %}
                        {%  if letterValue ==" "%} {% set letterValue="_" %} {% endif %}
                        <td class="alphabet-column">{{ letterValue }}</td>
                    {% endfor %}
                </tr>
            {%  endfor %}
        </tbody>

    </table>

{% endblock %}



